@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
  --primary-ccolor: #333;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.main-container {
  max-width: 800px;
  margin: auto;
  box-shadow: -10px 2px 53px -9px rgba(0, 0, 0, 0.54);
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-left h1 {
  text-align: center;
  font-size: 36px;
  padding: 10px 60px;
  font-weight: 400;
  color: var(--primary-ccolor);
}

.hero-left p {
  color: rgba(132, 132, 132, 0.92);
  margin-bottom: 30px;
  font-size: 17px;
}

.btn {
  padding: 15px 43px;
  border: 1px solid rgba(181, 181, 181, 0.92);
  background-color: white;
  border-radius: 30px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-ccolor);
  color: white;
  transition: background-color 0.3s ease-in;
}

a {
  text-decoration: none;
  color: var(--primary-ccolor);
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading {
  background-color: var(--primary-ccolor);
}

.heading h3 {
  text-align: center;
  color: white;
  padding: 20px 0;
}

.photo img {
  width: 100%;
  object-fit: cover;
}

.photo {
  text-align: center;
  background-color: var(--primary-ccolor);
  color: white;
}

.photo h2 {
  padding-top: 20px;
}

.photo p {
  padding-bottom: 30px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

footer h1 {
  font-size: 48px;
}

footer h1,
footer p {
  margin-bottom: 15px;
}

span {
  font-weight: bold;
}
